@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$color-primary: #0e0e10;
$color-secondary: #0F4C75;
$color-tertiary: #3282B8;
$color-quaternary: #BBE1FA;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
span,
a {
  color: $color-quaternary;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

.bg-primary {
  background-color: $color-primary;
}

.bg-secondary {
  background-color: $color-secondary;
}

.bg-tertiary {
  background-color: $color-tertiary;
}

.bg-quaternary {
  background-color: $color-quaternary;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.text-tertiary {
  color: $color-tertiary;
}

.text-quaternary {
  color: $color-quaternary;
}

.border-button {
  border: 1px solid $color-quaternary;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-quaternary;
    color: $color-primary;

    img {
      filter: invert(1) sepia(1) saturate(1) hue-rotate(180deg);
    }
  }
}

.nav-links {
  .nav-item {
    border-bottom: 0px transparent solid;
    transition: border-bottom .25s ease;

    &:hover {
      border-bottom: 1px $color-quaternary solid;
    }
  }
}


::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 50px;
}

// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

.rounded-100 {
  border-radius: 100%
}

$baseFontSize: 16;

// Función que convierte pixeles en rem
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return calc($pixels / $context * 1rem);
}

// font sizes
$font-12: rem(12);
$font-13: rem(13);
$font-14: rem(14);
$font-16: rem(16);
$font-17: rem(17);
$font-18: rem(18);
$font-20: rem(20);
$font-21: rem(21);
$font-24: rem(24);
$font-28: rem(28);
$font-30: rem(30);
$font-32: rem(32);
$font-34: rem(34);
$font-35: rem(35);
$font-36: rem(36);
$font-39: rem(39);
$font-40: rem(40);
$font-42: rem(42);
$font-50: rem(50);
$font-55: rem(55);
$font-64: rem(64);
$font-100: rem(100);

.font {
  &-12 {
    font-size: $font-13;
  }

  &-13 {
    font-size: $font-13;
  }

  &-14 {
    font-size: $font-14;
  }

  &-16 {
    font-size: $font-16;
  }

  &-17 {
    font-size: $font-17;
  }

  &-18 {
    font-size: $font-18;
  }

  &-20 {
    font-size: $font-20;
  }

  &-21 {
    font-size: $font-21;
  }

  &-24 {
    font-size: $font-24;
  }

  &-28 {
    font-size: $font-28;
  }

  &-30 {
    font-size: $font-30;
  }

  &-32 {
    font-size: $font-32;
  }

  &-34 {
    font-size: $font-34;
  }

  &-35 {
    font-size: $font-35;
  }

  &-36 {
    font-size: $font-36;
  }

  &-39 {
    font-size: $font-39;
  }

  &-40 {
    font-size: $font-40;
  }

  &-42 {
    font-size: $font-42;
  }

  &-50 {
    font-size: $font-50;
  }

  &-55 {
    font-size: $font-55;
  }

  &-64 {
    font-size: $font-64;
  }

  &-100 {
    font-size: $font-100;
  }
}