.switch-button {
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &::before{
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: rgb(255, 255, 125);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
  input:checked + .slider{
    background-color: $color-secondary;
   &::before{
      background-color: white;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform:translateX(26px)
   } 
  }
  .slider.round{
    border-radius: 34px;
    &::before{
      border-radius: 50px;
    }
  }
}